.cardGrid {
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 50%;
  font-family: "Roboto, sans-serif";
}

.input {
  padding-bottom: 16px;
}

.heading {
  text-align: "center";
  padding-bottom: 6px;
}

.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}

.error {
  color: #b71c1c;
}
