.cardGrid {
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 65ch;
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;
}

.title {
  text-align: "center";
}

.buttons {
  margin-left: "auto";
  margin-right: "auto";
  display: "block";
  width: "15%";
}

.button {
  margin: "5px";
}

.navigation {
  text-align: center;
}
