.app {
  margin: 0px;
  padding-top: 0px;
}

.app-header {
  padding: 0px;
  width: 100%;
  height: 500px;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #2d6692;
}

.div {
  background-color: red;
}

.incorrect {
  background-color: blue !important;
}

.fMHdGL {

  max-width: 900px !important;
}
